<ion-grid>
  <ion-row *ngIf="!preview">
    <!--≈
    <ion-col size="1">
      <ion-item lines="none"><ion-button (click)="moveUp()" fill="clear"><ion-icon name="chevron-up-circle-outline"></ion-icon></ion-button></ion-item>
      <ion-item lines="none"><ion-button (click)="moveDown()" fill="clear"><ion-icon name="chevron-down-circle-outline"></ion-icon></ion-button></ion-item>
    </ion-col>
  -->
    <ion-col class="ion-no-padding worksheet-component">
      <quill-editor style="min-width: 100%;"
        placeholder="hier Text eingeben ..."
        [styles]="{ height: 'auto'}"
        [(ngModel)]="task.data.text"
        [modules]="quillConfiguration"
        [sanitize]="true"
        (onContentChanged)="setChanges()"
      ></quill-editor>
      <ion-textarea
      class="helpertext"
      [autoGrow]="true"
      *ngIf="task.data.showHelpertext"
      [(ngModel)]="task.data.helpertext"
      placeholder="hier Helfertext eingeben ..."
      (ionInput)="setChanges()"
    ></ion-textarea>
    </ion-col>
    <ion-col size="auto" class="ion-no-padding tool">
      <ion-list class="ion-no-padding" lines="none">
        <ion-button expand="block" size="small" color="success" [disabled]="!changes" (click)="save()"><ion-label>save</ion-label> </ion-button>
            <ion-button *ngIf="!task.data.showHelpertext" expand="block" size="small" color="tertiary" (click)="addHelpertext()"
              ><ion-icon name="add-outline"></ion-icon><ion-label>Helper</ion-label>
            </ion-button>
            <ion-button *ngIf="task.data.showHelpertext" size="small" expand="block"
            fill="outline"
              color="tertiary"
              (click)="removeHelpertext()"
              ><ion-icon name="add-outline"></ion-icon><ion-label>Helper</ion-label></ion-button>
            <ion-button expand="block" size="small"  (click)="deleteTask()" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
        </ion-list>
    </ion-col>
  </ion-row>

<!-- <ion-icon name="trash-outline"></ion-icon> -->

<ion-row *ngIf="preview">
  <quill-view
    [content]="task.data.text"
    format="html"
    theme="snow"
  ></quill-view>
</ion-row>
</ion-grid>
