
  <ion-row *ngIf="!preview">
    <!--≈
    <ion-col size="1">
      <ion-item lines="none"><ion-button (click)="moveUp()" fill="clear"><ion-icon name="chevron-up-circle-outline"></ion-icon></ion-button></ion-item>
      <ion-item lines="none"><ion-button (click)="moveDown()" fill="clear"><ion-icon name="chevron-down-circle-outline"></ion-icon></ion-button></ion-item>
    </ion-col>
  -->
    <ion-col size="10" class="article">
      <quill-editor style="min-width: 100%;"
        placeholder="hier Text eingeben ..."
        [styles]="{ height: 'auto'}"
        [(ngModel)]="task.data.text"
        [modules]="quillConfiguration"
        [sanitize]="true"
        (onContentChanged)="setChanges()"
      ></quill-editor>
      <ion-textarea
      *ngIf="task.data.showHelpertext"
      [(ngModel)]="task.data.helpertext"
      placeholder="hier Helfertext eingeben ..."
      (ionInput)="setChanges()"
    ></ion-textarea>
    </ion-col>
    <ion-col size="2">
      <ion-list lines="none">
      <ion-item>
        <ion-button [disabled]="!changes" (click)="save()">save</ion-button>
      </ion-item>
          <ion-item *ngIf="!task.data.showHelpertext">
            <ion-button fill="outline" color="secondary" (click)="addHelpertext()"
              ><ion-label>Helper <ion-icon name="add-outline"></ion-icon></ion-label>
            </ion-button>
          </ion-item>
          <ion-item *ngIf="task.data.showHelpertext">
            <ion-button
              fill="outline"
              color="secondary"
              (click)="removeHelpertext()"
              ><ion-label> Helfertext entfernen</ion-label></ion-button>
          </ion-item>
        </ion-list>
    </ion-col>
  </ion-row>

<!-- <ion-icon name="trash-outline"></ion-icon> -->

<ion-row *ngIf="preview">
  <quill-view
    [content]="task.data.text"
    format="html"
    theme="snow"
  ></quill-view>
</ion-row>
