<ion-header>
  <ion-toolbar>
    <ion-title>initResetPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="sendResetEmail()" [formGroup]="form">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input
        type="email"
        placeholder="Email"
        formControlName="resetEmail"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(resetEmail.dirty || resetEmail.touched) && resetEmail.errors"
        >Bitte geben Sie eine korrekte E-Mail Adresse ein!</ion-note
      >
    </ion-item>
    <ion-button
      [disabled]="!form.valid"
      type="button"
      expand="block"
      color="primary"
      (click)="sendResetEmail()"
      >Link an E-Mail senden</ion-button
    >

  </form>
</ion-content>
