<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Arbeitsblatt Editor</ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-button fill="solid" color="success" (click)="saveAll()"> save all</ion-button>
      <ion-button fill="solid" color="tertiary" id="open-modal">Vorschau</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item nolines style="margin: 1rem">
    <ion-label><h1>{{selectedSheet.title}}</h1></ion-label>
  </ion-item>
  <ion-row>
    <ion-col size="12">
      <ion-button color="secondary" fill="clear" (click)="setOpenButtons(-1)"><ion-icon name="arrow-forward-circle"></ion-icon></ion-button>
        <ion-button color="secondary" *ngIf="this.openButtons === -1" size="small" (click)="addText(-1)"><ion-icon name="add-outline"></ion-icon> <ion-label>Artikel</ion-label> </ion-button>
        <ion-button color="secondary" *ngIf="this.openButtons === -1" size="small" (click)="addQuestionSimple(-1)"><ion-icon name="add-outline"></ion-icon> <ion-label>einfache Frage</ion-label></ion-button>
        <ion-button color="secondary" *ngIf="this.openButtons === -1" size="small" (click)="addQuestionMultiple(-1)"><ion-icon name="add-outline"></ion-icon> <ion-label>MC-Frage (mehrfach)</ion-label></ion-button>
        <ion-button color="secondary" *ngIf="this.openButtons === -1" size="small" (click)="addQuestionMultipleOne(-1)"><ion-icon name="add-outline"></ion-icon> <ion-label>MC-Frage (einfach)</ion-label></ion-button>
    </ion-col>
  </ion-row>
  <div *ngFor="let task of tasks | async; index as i ">
    <ion-row>
      <ion-col>
        <ng-template class="ion-padding"
        [ngComponentOutlet]="task.component"
        [ndcDynamicInputs]="{task: task}"
      ></ng-template>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button color="secondary" fill="clear" (click)="setOpenButtons(i)"><ion-icon name="arrow-forward-circle"></ion-icon></ion-button>
          <ion-button color="secondary" *ngIf="this.openButtons === i" size="small" (click)="addText(i)"><ion-icon name="add-outline"></ion-icon> <ion-label>Artikel</ion-label> </ion-button>
          <ion-button color="secondary" *ngIf="this.openButtons === i" size="small" (click)="addQuestionSimple(i)"><ion-icon name="add-outline"></ion-icon><ion-label>einfache Frage</ion-label></ion-button>
          <ion-button color="secondary" *ngIf="this.openButtons === i" size="small" (click)="addQuestionMultiple(i)"><ion-icon name="add-outline"></ion-icon><ion-label>MC-Frage (mehrfach)</ion-label></ion-button>
          <ion-button color="secondary" *ngIf="this.openButtons === i" size="small" (click)="addQuestionMultipleOne(i)"><ion-icon name="add-outline"></ion-icon><ion-label>MC-Frage (einfach)</ion-label></ion-button>
      </ion-col>
    </ion-row>
  </div>
  <div style="height: 300px;"></div>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Vorschau</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true"
              >schließen</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ng-template
          *ngFor="let task of tasks | async"
          [ngComponentOutlet]="task.component"
          [ndcDynamicInputs]="{task: task, preview: true}"
        ></ng-template>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
