<!-- <ion-item>{{ data.question }}</ion-item>
<ion-item>{{ data.answers.join(" | ") }}</ion-item>
-->
<ion-row *ngIf="!preview">
  <ion-col class="question" size="10"
    ><ion-input
      placeholder="Fragetext"
      [(ngModel)]="task.data.question"
    ></ion-input>
    <ion-input placeholder="Antwortfeld" readonly></ion-input>
    <ion-textarea
      *ngIf="helpertextAdded"
      [(ngModel)]="task.data.helpertext"
      placeholder="hier Helfertext eingeben ..."
    ></ion-textarea>
  </ion-col>
  <ion-col size="2">
    <ion-list lines="none">
      <ion-item>
        <ion-button
          fill="outline"
          color="danger"
          (click)="deleteQuestionSimple()"
          >löschen</ion-button
        >
      </ion-item>
      <ion-item *ngIf="!helpertextAdded">
        <ion-button fill="outline" color="secondary" (click)="addHelpertext()"
          ><ion-label>Helfertext hinzufügen</ion-label></ion-button
        >
      </ion-item>
      <ion-item *ngIf="helpertextAdded">
        <ion-button
          fill="outline"
          color="secondary"
          (click)="removeHelpertext()"
          ><ion-label> Helfertext entfernen</ion-label></ion-button
        >
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>

<ion-row *ngIf="preview">
  <ion-list>
    <ion-input
      readonly
      placeholder="Fragetext"
      [(ngModel)]="task.data.question"
    ></ion-input>
    <ion-input readonly placeholder="Antwortfeld" readonly></ion-input
  ></ion-list>
</ion-row>
