<ion-grid>
<ion-row *ngIf="!preview">
  <ion-col class="worksheet-component"
    ><ion-input
      placeholder="Fragetext"
      [(ngModel)]="task.data.question"
      (ionInput)="setChanges()"
    ></ion-input>
    <ion-input placeholder="Antwortfeld" readonly></ion-input>
    <ion-textarea
    class="helpertext"
    [autoGrow]="true"
      *ngIf="task.data.showHelpertext"
      [(ngModel)]="task.data.helpertext"
      placeholder="hier Helfertext eingeben ..."
      (ionInput)="setChanges()"
    ></ion-textarea>
  </ion-col>
  <ion-col size="auto" class="ion-no-padding tool">
    <ion-list class="ion-no-padding" lines="none">
      <ion-button expand="block" size="small" color="success" [disabled]="!changes" (click)="save()"><ion-label>save</ion-label> </ion-button>
          <ion-button *ngIf="!task.data.showHelpertext" expand="block" size="small" color="tertiary" (click)="addHelpertext()"
            ><ion-icon name="add-outline"></ion-icon><ion-label>Helper</ion-label>
          </ion-button>
          <ion-button *ngIf="task.data.showHelpertext" size="small" expand="block"
          fill="outline"
            color="tertiary"
            (click)="removeHelpertext()"
            ><ion-icon name="add-outline"></ion-icon><ion-label>Helper</ion-label></ion-button>
          <ion-button expand="block" size="small"  (click)="deleteTask()" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </ion-list>
  </ion-col>
</ion-row>

<ion-row *ngIf="preview">
  <ion-col size="12">
  <ion-list>
    <ion-item>
      <ion-input
      readonly
      placeholder="Fragetext"
      [(ngModel)]="task.data.question">
  </ion-input>
    </ion-item>
    <ion-item>
      <ion-input readonly placeholder="Antwortfeld" readonly></ion-input>
    </ion-item>
</ion-list>
</ion-col>
</ion-row>
</ion-grid>
